@import "../init";
@import "../blocks";

.container-trainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "header"
                       "content"; // NOTE: Think about these names.

 .header-trainer {
   @include header;
   grid-area: header;
   display: flex;
   flex-direction: row;

   .user-trainer {
     @include user;
     order: 1;
     display: flex;
     flex-direction: column;

     &__info {
       @include user__info;
       color: lime;
       order: 1;
     }

     &__role {
       @include user__role;
       color: purple;
       order: 2;
     }
   }

   .header-main {
     order: 2;
     flex-grow: 3;
   }

   .header-login {
     @include login;
     order: 3;

     &__info {
       @include login__info;
       color: darkblue;
     }
   }
 }

 // NOTE: We can use flexbox as well.
 .content-trainer {
   grid-area: content;
   display: grid; // subgrid does not work

   grid-template-columns: 3fr 1fr;
   grid-template-rows: auto;
   grid-template-areas: "edit pages";


   &-edit {
     grid-area: edit;
     height: 1000px;
     background-color: blue;
     
     &__raw {
       font-family: 'Helvetica';
     }

     &__preview {
       font-family: 'Helvetica';
     }
   }

   &__pages {
     grid-area: pages;
     background-color: lighten(red, 20%);
     height: 1000px;
   }
 }

 @media screen and (max-width: 720px) {
   .container-trainer {
     display: flex;
     flex-direction: column;
   }

   .header-trainer {
     order: 1;
   }

   .content-trainer {
     order: 2;
     display: flex;
     flex-direction: column;
   }
 }
}
