@import "../init";
@import "../components";

//BEM mixins for positioning
.header-student {
  display: flex;
  flex-direction: row;
}

.header {
  @include header;
}

.user-student {
  order: 1;
  display: flex;
  flex-direction: column;
}

.user {
  @include user;

  &__info {
    @include user__info;
    color: blue;
    order: 1;
  }

  &__role {
    @include user__role;
    color: pink;
    order: 2;
  }
}

.header-main { // Rename
  order: 2;
  flex-grow: 3;
}

.login {
  @include login;

  &__info {
    @include login__info;
    color: darkblue;
  }
}

.header-login {
  order: 3;
}

.content {
  @include content;
}

.content-student {
  margin-top: 0px;
  height: 1000px;
}

.title {
  @include title;
}

.title-student {
  color: white;
  text-align: center;

  p {
    margin-top: 0px;
  }
}
